.cache/
.gomodcache/
.vscode/

running_log/
log.txt
desc.org

config.yaml
configs/config.yaml
configs/profiles.yaml
configs/user_data/freqtrade-config.json
data/freqtrade_data/config.json
data/logs/
*.db
*.db-shm
*.db-wal

*_test
*_test.go

# Binaries / build outputs
/brale
bin/
dist/
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.out
*.test
