.cache/
.gomodcache/
.vscode/

running_log/
log.txt
desc.org

config.yaml
configs/config.yaml

*_test
*_test.go

# Binaries / build outputs
/brale
bin/
dist/
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.out
*.test
